.styled1 {
    color: hotpink;
    font-size: 36px;
    text-align: center;
}

.nyancat {
    position: static;
    display: auto;
    margin: auto;
}

.quote {
    text-align: center;
    text-emphasis-color: hotpink;
    border: solid;
    padding-bottom: unset;
}

#egenskap {
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    line-height: 20px;
    margin: 0 auto;
    padding: 30px;
    text-kashida-space: 30%;


}

.bio {
    padding-top: 30px;
    padding-left: 100px;
    background-color: pink;
}
.header {
    background-color: lightblue;
    height: 120px;
    width: 960px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.shells {
    display: inline-block;
}

nav {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}